.sidebar-button{
    /* width: 100%; */
    height: 40px;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
    /* background-color: rgb(235, 235, 235); */
    /* cursor: pointer; */
}

.sidebar-button:hover{
    cursor: pointer;
    background-color: rgb(245, 245, 245);
}