.movies-table {
    width: calc(100vw - 300px);   
    height: calc(100vh - 225px);
    /* box-shadow: rgba(100, 100, 111, 0.3) 0px 0px 29px 0px; */
    box-shadow: rgb(50 50 93 / 15%) 0px 2px 25px 0px, rgb(0 0 0 / 0%) 0px 2px 25px 0px, rgb(10 37 64 / 30%) 0px 0px 5px 0px inset;
    border-radius: 5px;
}